include sidebar/sidebar.pug
doctype html
html
  head
    meta(charset="utf-8")
    title
    link(rel="stylesheet" href="index.css")
  body
    div.index
      img(src="logo.png", class="index__logo")
      img(src="Layer_12.png", class="index__layer")
      a( class="index__contacts", href="tel:+79456627677") +7 (495) 662 76 77
      div.contacts-border
      img(src="ru.png", class="ru")
      div.index__language_dropdown ru
      h1.index__title Сохранить и преумножить
      div.index__text
        p. 
          Обслуживание в московском офисе Friedrich Wilhelm Raiffeisen сочетает в себе преимущества индивидуального клиентского сервиса в Москве с инвестиционными решениями, разработанными в центральном офисе Группы Райффайзен в Вене.
          Каждый клиент российского офиса Friedrich Wilhelm Raiffeisen получает персонального менеджера в Москве, который осуществляет открытие и обслуживание инвестиционных счетов в Австрии, а также обеспечивает доступ к международному рынку ценных бумаг через платформы в России и за рубежом.
      div.index__text-two
        p.
          Специалисты Friedrich Wilhelm Raiffeisen в Австрии разрабатывают индивидуальные стратегии доверительного управления активами и осуществляют формирование индивидуального портфеля, отвечающего инвестиционным потребностям клиента.
          Friedrich Wilhelm Raiffeisen оказывает брокерские, консультационные и аналитические услуги, предоставляет гибкие депозитные предложения и обслуживает счета в 11 валютах.
          Узнать об инвестиционных решениях Friedrich Wilhelm Raiffeisen в Вене
      +sidebar("download", "arrow")
      
    scripts(src="app.js")