.menu .menu__header {
  position: absolute;
  left: 56.5px;
  top: 10%;
  font-size: 31px;
  font-family: "Myriad Pro";
  color: rgba(76, 52, 64, 0.502);
}
.menu .menu__header .menu__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 56.5px;
  top: 18%;
  width: 200px;
  margin-top: 40px;
  font-family: "Myriad Pro";
  color: #4c3440;
}
.menu .menu__header .menu__main .menu__item {
  font-size: 21px;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  color: #4c3440;
  align-self: auto;
}
.menu .menu__header .menu-border {
  position: absolute;
  top: 56%;
  left: 56.5px;
  width: 70px;
  border-bottom: 2px solid rgba(76, 52, 64, 0.2);
}
.menu .menu__header .menu__footer {
  font-family: "Myriad Pro";
  color: #4c3440;
  position: absolute;
  left: 56.5px;
  top: 59%;
}
.menu .menu__header .menu__footer .menu__item {
  font-size: 21px;
  line-height: 1.5;
  width: 200px;
  margin-top: 50px;
  list-style-type: none;
  text-decoration: none;
  color: #4c3440;
}