include menu/menu.pug
mixin sidebar(download_img, arrow_img)
 div.sidebar
    +menu("Получить финансирование","Решения для вашего бизнеса","Расчетно-кассовое обслуживание","Решения для вашей семьи/Консалтинг")
    div.switch-buttons
      button.switch-button Raiffeisen-Online
      button.switch-button-two R-Dealer
    div.pdf PDF
    img(src=`img/${download_img}.png`, class="download")
    img(src=`img/${arrow_img}.png`, class="arrow")
    a(class="sidebar__pdf-link", href="pdf.pdf" download) Скачать «Услуги FWR»
    div.sidebar__info © 2009-2017 АО «Райффайзенбанк»
