.sidebar {
  border-width: 1px;
  border-color: #7c7f82;
  border-style: solid;
  background-color: #6d5b66;
  opacity: 0.051;
  position: absolute;
  left: 1283px;
  top: 0px;
  width: 317px;
  height: 897px;
}
